<!--INDEXACIÓN DEL ROUTING PARA CARGAR LOS COMPONENTES HIJO-->

<main>
<!--INSERCIÓN DE UNA NAV DE BOOTSTRAP-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Home</a>
      <a class="navbar-brand" href="/admin" routerLink="/admin" *ngIf="showAdminBoard">Administrador</a><!--CONDICIONALES AL SERVICE-->
      <a class="navbar-brand" href="/mod" routerLink="/mod" *ngIf="showModeratorBoard">Moderador</a>
      <a class="navbar-brand" href="/user" routerLink="/user" *ngIf="isLoggedIn">Usuario</a><!--ROUTING AL NUEVO COMPONENTE DE FORMULARIO-->
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="/register" routerLink="/register" *ngIf="!isLoggedIn">Registrarse</a>
      <a class="navbar-brand" href="/login" routerLink="/login">Ingresar</a>
    </div>

    <div class="container-fluid" *ngIf="isLoggedIn">
      <a class="navbar-brand" href="/profile" routerLink="/profile" >{{ username }}</a>
      <a class="navbar-brand" class="button" (click)="logout()" >Ingresar</a>
    </div>

  </nav>


    <router-outlet></router-outlet><!--LO IMPRESCINDIBLE ES EL INCRUSTAMIENTOS DE LA ETIQUETA ROUTER-OUTLET PARA QUE HAGA EL LLAMADO A ESOS ENDPOINTS-->
</main>
