
body{
  margin: auto 0px;
}

main{
  background-color: rgb(90, 89, 87);
  margin: 10%;
  align-content: center;
  border-radius: 25px;
  padding-bottom: 50px;
}

p {
  padding: 50px;
  text-align: center;
  font-family: 'Courier New';
  font-size: 50px;
  color: rgb(246, 248, 250);
}


img {
  image-orientation: center;
  width: 34%;
  height: 30%;
  margin-left: 34%;
  border-radius: 15px;
  margin-bottom: 50px;
}

#person {
  font-size: 45px;
}

h1 {
  font-size: 45px;
  text-align: center;
  font-family: 'Courier New';
}

a{
  width: 150px;
  margin-left: 44%;
  font-size: 25px;
}

#edit {
  width: 450px;
  color : white;
  font-size: 20px;
  margin-left: 400px;
  margin-bottom: 50px;
}

button {
  background-color: rgb(248, 20, 134);
  width: 100%;
}


