<div class="col-md-12">
  <div class="card card-container">
    <form *ngIf="!esSatisfactorio" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">User</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel"/>
        <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
          Es necesario su User

        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="text" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"/>
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors">Es necesaria una contraseña</div>
          <div *ngIf="password.errors">Contraseña debe de tener al menos 6 carácteres</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Entrar</button>
      </div>
      <div class="forma-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && esFallido">
          Inicio fallido : {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="esSatisfactorio">
      Inicio como {{ roles }}
    </div>
  </div>
</div>
