
main{
  background-color: rgb(90, 89, 87);
  margin: 10%;
  align-content: center;
  border-radius: 25px;
  padding-bottom: 50px;
}


p {
  padding: 50px;
  text-align: center;
  font-family: 'Courier New';
  font-size: 50px;
  color: rgb(246, 248, 250);
}

#submit {
  width: 450px;
  margin-left: 420px;
}

button {
  width: 100%;
  padding-top: 20px;
}

label {
  font-size: 25px;
  color: aliceblue;
}
